.area {
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 2px solid #000000;
  background-color: thistle;
}

.snake-part {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000000;
  border: 1px solid #ffffff;
  z-index: 2;
}

.food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid #ffffff;
  z-index: 1;
}

.score-board {
  position: relative;
  margin: 50px auto;
  width: 1000px;
  height: 1000px;
  background-color: #ffffff;
}